@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.container {
  background-color: #312e81;
  height: 100vh;
  /* color: aliceblue; */
}

.container .login-logo {
  margin-top: -100px;
  margin-bottom: -120px;
  transform: scale(0.7);
}
